<div class="app">

    <%- include("components/sidebar") %>

    <div class="content">

        <%- include("components/topbar") %>

        <%- include("components/cards") %>

        <%- include("components/chart") %>

        <%- include("components/operations") %>

    </div>

</div>