<div class="container">

    <%- include("components/topbar") %>

    <div class="content">

        <%- include("components/sidebar") %>

        <div class="main-content">

            <%- include("components/cards") %>

            <%- include("components/analytics") %>

            <div class="dashboard-row">

                <%- include("components/currentTrade") %>

                <%- include("components/chart") %>

            </div>

            <%- include("components/operations") %>

        </div>

    </div>

</div>

<script src="/js/dashboard.js"></script>